
<div class="container">
    <div class="d-flex flex-wrap text-center mb-5">
        <div class="flex-fill">
            <ul class='nav-ul'>
                <li>
                    <nav>
                        <a routerLink="/main">Home</a>
                    </nav>
                </li>
                <li>
                    <nav>
                        <a routerLink="/home/signup">Signup</a>
                    </nav>
                </li>
                <li> 
                    <nav>
                        <a routerLink="/home/participants">Participants</a>
                    </nav>
                </li>
            </ul>
        </div>
    </div> 
    <router-outlet></router-outlet>
</div>
